
<div class="card card-body text-center">
<h2><i class="fa fa-android fa-3x text-success"></i> </h2>Sign In to Continue<div class="text-center"><a href="/login" class="btn btn-primary btn-block my-2">Sign In</a>OR<br/>
Create new Account
<a href="/register" class="btn btn-secondary btn-block my-2">Register</a>
</div></div>
